<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905177.gif</string>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905557.gif</string>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905695.gif</string>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905924.gif</string>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905417.gif</string>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905481.gif</string>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905482.gif</string>
	<string>http://www.myqqhome.com/face/UploadFiles_9551/200903/20090314065905391.jpg</string>
</array>
</plist>
